body{
	font-family: Arial;
	font-size: 20px;
	padding-bottom: 30px;
  text-align:center;
  margin-top: 2%;
}
strong{
  color:green;
}
input, select{
  	font-size   : 100%;
}
#centrado{
  width: 50%;
  text-align: center;
  float: right;
}
.boton{
    width: 15%;
	  background-color: #4CAF50;
  	border: none;
  	color: white;
  	padding: 10px 25px;
  	font-size: 16px;
    margin-right: 3%;
    margin-bottom: 1%;
}
table{
  	width: 30%;
  	padding: 10px;
  	border-collapse: collapse;
  	margin: auto;
  	text-align:center;
}

th {
  	color: white;
  	background-color: #4CAF50;
  	font-size: 20px;
}

td{
	padding: 40px;
	background-color:#eefbee;
	font-size: 20px;
	color: #77773c;
}
